@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One|Tilt+Neon');

body {
    background-color: white;
    margin: 0;
    padding: 0;
    font-size: 22px;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

header {
    background-color: black;
    display: grid;
    grid-template-columns: 150px auto;
}

#logo-link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.logo {
    width: 80px;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: Tilt Neon, Helvetica, sans-serif;
    padding: 35px;
}

nav a:hover {
    background-color: #992CFF;
    color: #FFE433;
    text-decoration: underline;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-img {
    width: 100%;
    margin-top: -350px;
    margin-bottom: 100px;
}

#hero-msg { 
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: center;
}

.home-title {
    color: #3DF529;
    font-size: 3em;
    margin-top: 90px;
    text-align: center;
    font-family: Rubik Mono One, Impact, Arial;
    text-shadow: 5px 5px 10px #789564;
}

#hero-msg p {
    color: #3DF529;
    text-align: center;
    text-align: justify;
    text-align-last: justify;
    margin-top: 70px;
    margin-left: -163px;
    margin-right: -163px;
    font-size: 2em;
    font-weight: bolder;
    font-family: Tilt Neon, Helvetica, sans-serif;
    text-shadow: 10px 10px 20px #90a880;

}

.title-boxes {
    width: 40%;
    background-color: #564D50;
    color: #FFE433;
    border-radius: 50px;
    margin: 0 auto;
    text-align: center;
    font-family: Rubik Mono One, Impact, Arial;
}

#artist-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: -25px;
    margin-bottom: 140px;
}

#artist-grid section:hover {
    transform: scale(1.1);
}

.artist-card-daft, .artist-card-steve, .artist-card-hardwell, .artist-card-skrillex, .artist-card-excision, .artist-card-thefatrat, .artist-card-deadmau5, .artist-card-illenium {
    padding: 30px;
}

.artist-card-daft {
    grid-column: 1/2;
    grid-row: 1/2;
}

.artist-card-steve {
    grid-column: 2/3;
    grid-row: 1/2;
}

.artist-card-hardwell {
    grid-column: 3/4;
    grid-row: 1/2;
}

.artist-card-skrillex {
    grid-column: 4/5;
    grid-row: 1/2;
}

.artist-card-excision {
    grid-column: 1/2;
    grid-row: 2/3;
}

.artist-card-thefatrat {
    grid-column: 2/3;
    grid-row: 2/3;
}

.artist-card-deadmau5 {
    grid-column: 3/4;
    grid-row: 2/3;
}

.artist-card-illenium {
    grid-column: 4/5;
    grid-row: 2/3;
}

main section img {
    box-sizing: border-box;
}

.card-img {
    border: 20px solid #992CFF;
    width: 100%;
    box-shadow: 5px 5px 10px #6f7364
}

.artist-name {
    text-align: center;
    margin: 10px auto;
    border-radius: 50px;
    background-color: #564D50;
    color: #FFE433;
    width: 65%;
    font-family: Tilt Neon, Helvetica, sans-serif;
    font-weight: bolder;
    box-shadow: 5px 5px 10px #6f7364
}

hr {
    height: 10px;
    margin-left: 200px;
    margin-right: 200px;
    background-color: #3DF529;
}

#genre-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#genre-grid h2:hover {
    transform: scale(1.1);
}

.genre-card-future, .genre-card-trap, .genre-card-melodic, .genre-card-deathstep, .genre-card-ambient, .genre-card-dubstep, .genre-card-house, .genre-card-hardcore, .genre-card-electro, .genre-card-speedcore, .genre-card-drum, .genre-card-deep {
    text-align: center;
    justify-self: center;
    width: 55%;
    margin: 20px auto;
    border-radius: 50px;
    background-color: #564D50;
    color: #FFE433;
    font-family: Tilt Neon, Helvetica, sans-serif;
    font-weight: bold;
    box-shadow: 5px 5px 10px #6f7364
}

.genre-card-future {
    grid-column: 1/2;
    grid-row: 1/2;
}

.genre-card-trap {
    grid-column: 2/3;
    grid-row: 1/2;
}

.genre-card-melodic {
    grid-column: 3/4;
    grid-row: 1/2;
}

.genre-card-deathstep {
    grid-column: 1/2;
    grid-row: 2/3;
}

.genre-card-ambient {
    grid-column: 2/3;
    grid-row: 2/3;
}

.genre-card-dubstep {
    grid-column: 3/4;
    grid-row: 2/3;
}

.genre-card-house {
    grid-column: 1/2;
    grid-row: 3/4;
}

.genre-card-hardcore {
    grid-column: 2/3;
    grid-row: 3/4;
}

.genre-card-electro {
    grid-column: 3/4;
    grid-row: 3/4;
}

.genre-card-speedcore {
    grid-column: 1/2;
    grid-row: 4/5;
}

.genre-card-drum {
    grid-column: 2/3;
    grid-row: 4/5;

}

.genre-card-deep {
    grid-column: 3/4;
    grid-row: 4/5;
}

#button-grid {
    margin-top: 150px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.button-light, .button-dark {
    text-align: center;
    justify-self: center;
    background-color: #564D50;
    color: #3DF529;
    font-family: Rubik Mono One, Impact, Arial;
    font-size: 1.5em;
    text-decoration: none;
    padding: 30px;
    border-radius: 25px;
}

.button-light:hover, .button-dark:hover {
    color: #FFE433;
    text-decoration: underline;
    background-color: #992CFF;
    transform: scale(1.15);
}

.button-light {
    grid-column: 1/2;
}

.button-dark {
    grid-column: 2/3;
}

footer {
    background-color: black;
    color: white;
    padding: 25px 50px;
    margin-top: 160px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p {
    font-size: 1.2em;
    font-family: Tilt Neon, Helvetica, sans-serif;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    color: #FFE433;
}

footer p a:hover {
    text-decoration: underline;
}






/*lighter edm css*/

#page2 {
    background-color: #EBD6FF;
}

#page2 .page-title {
    color: #992CFF;
    font-family: Rubik Mono One, Impact, Arial;
    font-size: 3.3em;
    text-shadow: 2px 2px 4px #6d5492;
}

#page2 .title-info {
    border: 10px solid #992CFF;
}

#page2 .song-image {
    width: 100%;
    border: 15px solid #992CFF;
    box-shadow: 10px 10px 10px #6d5492;
}

#page2 .description {
    border: 10px solid #992CFF;
    box-shadow: 10px 10px 10px #6d5492;
}





/*darker edm css*/

#page3 {
    background-color: #FFD6D6;
}

#page3 .page-title {
    color: #9E1A1A;
    font-family: Rubik Mono One, Impact, Arial;
    font-size: 3.3em;
    text-shadow: 2px 2px 4px #925454;
}

#page3 .title-info {
    border: 10px solid #9E1A1A;
}

#page3 .song-image {
    width: 100%;
    border: 15px solid #9E1A1A;
    box-shadow: 10px 10px 10px #925454;
}

#page3 .description {
    border: 10px solid #9E1A1A;
    box-shadow: 10px 10px 10px #925454;
}





/*general subpage CSS*/

.hero-content {
    text-align: center;
    padding: 5px;
}

.title-info {
    background-color: #564D50;
    color: #FFE433;
    padding: 20px;
    font-size: 1.5em;
    text-align: justify;
    text-align-last: justify;
    margin-right: 140px;
    margin-left: 140px;
    font-family: Tilt Neon, Helvetica, sans-serif;
    font-weight: bolder;
    border-radius: 20px;
    margin-bottom: 125px;
    box-shadow: 10px 10px 10px #6f7364
}

.example-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.example-card {
    padding-right: 70px;
    padding-left: 70px;
    margin-top: 75px;
}

#page2 hr, #page3 hr {
    margin-bottom: -50px;
}

.genre-name {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 20px;
    background-color: #564D50;
    text-align: center;
    font-family: Tilt Neon, Helvetica, sans-serif;
    border-radius: 50px;
    color: #FFE433;
}

.song-link {
    text-align: center;
    width: 100%;
    background-color: #564D50;
    padding: 10px;
    border-radius: 7px;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 20px;
}

.song-link:hover {
    transform: scale(1.15);
}

.example-card p a {
    color: #3DF529;
    text-align: center;
    font-family: Tilt Neon, Helvetica, sans-serif;
    width: 100%;
    color: #FFE433;
}

.description {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #564D50;
    height: 150px;
    font-family: Tilt Neon, Helvetica, sans-serif;
    padding: 20px;
    border-radius: 20px;
    color: #FFE433;
}

.song-image:hover {
    transform: scale(1.05);
}